// a {
//   text-decoration: none;
// }

// .activeNavLink {
//   color: darkslategray;
//   font-weight: bold;
// }

// .line_height_40 {
//   line-height: 40px !important;
// }

// .form-title {
//   text-align: center;
// }

// body {
//   background-color: #e0f7fa; /* light blue background */
// }

a {
  text-decoration: none;
}

.activeNavLink {
  color: darkslategray;
  font-weight: bold;
}

.line_height_40 {
  line-height: 40px !important;
}

.form-title {
  text-align: center;
}